<%- include('./adminLogHeader.ejs') %>
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">    
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Add Coupon</h6>
                <form action="addCoupon" method="post" id="coupon-form">

                    

                    <small style="color: red;" id="coupon-error" class="mt-3">
                        <%= couponExists %>
                    </small>
                    

                    <div class="mt-3 mb-3">
                        <label for="addCouponName">Coupon Name</label>
                        <input class="form-control mb-3" type="text" id="addCouponName" name="name"
                            placeholder="enter the coupon name" aria-label="default input example">
                    </div>

                    <div class="mt-3 mb-3">
                        <label for="discount">Coupon Discount</label>
                        <input class="form-control mb-3" type="text" id="discount" name="discount"
                            placeholder="enter the discount amount" aria-label="default input example">
                    </div>

                   

                    <div class="md-form md-outline input-with-post-icon datepicker mt-3 mb-3">
                        <input placeholder="Select date" type="date" id="date" name="date" class="form-control">
                        <label for="date">select date</label>
                      </div>

                    <div class="mt-3 mb-3">
                        <label for="limit">Purchase Limit</label>
                        <input class="form-control mb-3" type="text" id="limit" name="limit"
                            placeholder="enter the purchase limit" aria-label="default input example">
                    </div>

                    <div class="mt-3 mb-3">
                        <label for="description">Description</label>
                        <input class="form-control mb-3" type="text" id="description" name="description"
                            placeholder="enter the description" aria-label="default input example">
                    </div>

                    <button onclick="" type="submit" class="btn btn-primary">Add Coupon</button>

                </form>

            </div>
        </div>
    </div>


    <script>
        document.getElementById("coupon-form").addEventListener("submit", function (e) {
    e.preventDefault(); // Prevent the form from submitting
    const couponName = document.getElementById("addCouponName").value.trim();
    const couponDiscount=document.getElementById('discount').value.trim()
    const couponDate = document.getElementById('date').value.trim()
    const couponLimit = document.getElementById('limit').value.trim()
    const couponDescription = document.getElementById('description').value.trim()

    const couponError = document.getElementById("coupon-error");
    if (!couponName) {
        couponError.textContent = "Coupon name cannot be empty";
        return;
    }
    if (!couponDiscount) {
        couponError.textContent = "Coupon discount cannot be empty";
        return;
    }
    if (!couponDate) {
        couponError.textContent = "Coupon expiry cannot be empty";
        return;
    }
    if (!couponLimit) {
        couponError.textContent = "Coupon purchase limit cannot be empty";
        return;
    }
    if(!couponDescription){
        couponError.textContent = "coupon description cannot be empty"
    }
    
    // If validation passes, clear the error message and submit the form
    couponError.textContent = "";
    this.submit();
});

    </script>
<%- include('./adminLogFooter.ejs') %>