<!-- Footer Start -->
<div class="container-fluid bg-secondary text-dark mt-5 pt-5">
    <div class="row px-xl-5 pt-5">
        <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
            <a href="" class="text-decoration-none">
                <h1 class="mb-4 display-5 font-weight-semi-bold"><span
                        class="text-primary font-weight-bold border border-white px-3 mr-1">Trenzy</span>world</h1>
            </a>
            <p>Men's fashion store where you can pick latest trends with quality</p>
        </div>

    </div>
    <div class="row border-top border-light mx-xl-5 py-4">
        <div class="col-md-6 px-xl-0">
            <p class="mb-md-0 text-center text-md-left text-dark">
                &copy; <a class="text-dark font-weight-semi-bold" href="#">Trenzy world</a>. All Rights Reserved.
                Designed
                by
                <a class="text-dark font-weight-semi-bold" href="https://htmlcodex.com"></a><br>
                <a href="https://themewagon.com" target="_blank"></a>
            </p>
        </div>
        <div class="col-md-6 px-xl-0 text-center text-md-right">
            <img class="img-fluid" src="/img/payments.png" alt="">
        </div>
    </div>
</div>
<!-- Footer End -->



<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


<!-- JavaScript Libraries -->
<!-- Ensure Bootstrap and jQuery are loaded -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="lib/easing/easing.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Contact Javascript File -->
<script src="mail/jqBootstrapValidation.min.js"></script>
<script src="mail/contact.js"></script>



<!-- admin login -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>

<!-- Template Javascript -->
<script src="/js/main.js"></script>
<script src="/js/zoomImage.js"></script>

<!-- cart js file -->
<script src="/js/cart.js"></script>

<script src="/js/shopPagination.js"></script>

<!-- size validation -->
<script src="/js/validation/size.js"></script>

<!-- ================================================================= -->

<!-- razorpayPayment -->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>



<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
<script src="path/to/owl.carousel.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<!-- Your other scripts -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
    integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
</script>

<!-- Include DataTables CSS and JS (use the latest version) -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.6/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.11.6/js/jquery.dataTables.min.js"></script>


<!-- script to copy the referral link -->
<script>
    // Function to copy referral link to clipboard
    function copyReferralLink() {
        var referralLink = document.getElementById("referralLink");
        var copyMessage = document.getElementById("copyMessage");

        // Create a temporary input element to hold the text to be copied
        var tempInput = document.createElement("input");
        tempInput.value = referralLink.innerText;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand("copy");
        document.body.removeChild(tempInput);

        // Show the message on the webpage
        copyMessage.style.display = "block";
        copyMessage.textContent = "Link copied to clipboard";

        setTimeout(function () {
            copyMessage.style.display = "none";
        }, 3000);
    }

    // Add a click event listener to the referral link
    var referralLinkElement = document.getElementById("referralLink");
    referralLinkElement.addEventListener("click", function (event) {
        event.preventDefault();
        copyReferralLink();
    });
</script>



<script>
    //address selection 
    function updateSelectedAddress(radio) {
        const selectedAddressId = radio.getAttribute('data-address-id');
        console.log('Selected Address ID:', selectedAddressId);
        document.querySelector('input[name="selectedAddressId"]').value = selectedAddressId;
    }

    //payment selection
    function updateSelectedPayment(radio) {
        const selectedPayment = radio.value;
        document.querySelector('#selectPayment').value = selectedPayment;
    }

</script>


<script>

    jQuery.noConflict(); // Release the $ variable
    jQuery(function ($) {
        document.getElementById("addressForm").addEventListener("submit", function (e) {
            e.preventDefault(); // Prevent the form from submitting
            console.log('object');
            // Handle form submission and AJAX request
            var formData = $(this).serialize();
            console.log('entered form data : j', formData)
            $.ajax({
                url: "/checkoutNewAdd",
                type: "POST",
                data: formData,
                success: function (res) {
                    if (res.ok) {
                        window.location.href = "/checkout"
                        $('#addAddressModal').modal('hide'); // Close the modal
                        // Handle success, e.g., update the list of addresses
                    } else {
                        // Handle errors if needed
                    }
                }
            })

        })
    })


</script>



<!-- //razorpay -->
<script>

    jQuery.noConflict(); // Release the $ variable
    jQuery(function ($) {
        document.getElementById("checkout-form").addEventListener("submit", function (e) {
            e.preventDefault(); // Prevent the form from submitting

            let formData = $(this).serialize();
            console.log('entered form data : j', formData)

            $.ajax({
                url: "/postCheckOut",
                type: "POST",
                data: formData,
                success: function (res) {

                    console.log('scssss1')
                    if (res.success) {
                        console.log("entered success ................", res)
                        console.log("Res :L ", res.data)
                        // const orderID = res.data.orderId

                        // If the payment method is onlinePayment, show the Razorpay payment popup
                        if (res.paymentMethod === 'onlinePayment') {

                            // console.log("orderID : ",orderID)
                            // console.log('online pymnt ajax scss____________',res)
                            var options = {
                                "key": "rzp_test_xA2y47uVo1g6yl",
                                "amount": res.data.amount,
                                "currency": "INR",
                                "name": "Trenzy World",
                                "description": "India's best Mens Fashion website",
                                "image": "https://dummyimage.com/600x400/000/fff",
                                "order_id": res.data.id,
                                "handler": function (response) {
                                    console.log("response : :1122 ", response)

                                    verifyPayment(response,res.data.amount)
                                }

                            };
                            var razorpayObject = new Razorpay(options);
                            razorpayObject.open();
                            const errorMessageContainers = document.querySelectorAll(".error-message-container");

                            // Update the content of all error message containers
                            errorMessageContainers.forEach((container) => {
                                container.textContent = "";
                            });

                        } else if (res.paymentMethod === 'COD') {
                            console.log('cod ajax')

                            window.location.href = "/confirmation/" + res.order_id;
                        } else if (res.paymentMethod === 'wallet') {
                            console.log('wallet ajax')
                            if(res.msg=='Insufficient wallet balance'){
                                
                            }
                            window.location.href = "/confirmation/" + res.order_id;
                        }
                        else if (res.msg == "Please select any address") {
                            console.log("kkkkkkkkk ______ : ", res.msg)

                            const errorMessageContainers = document.querySelectorAll(".error-message-container");

                            // Update the content of all error message containers
                            errorMessageContainers.forEach((container) => {
                                container.textContent = "Please select a Address";
                            });




                        }
                        else if (res.msg == 'Please select any valid payment method') {

                            const errorMessageContainers = document.querySelectorAll(".error-message-container");

                            // Update the content of all error message containers
                            errorMessageContainers.forEach((container) => {
                                container.textContent = "";
                            });
                            console.log("msg_________: ", res.msg)
                            document.getElementById("payment-error").textContent = "please choose a payment method";
                        }else if(res.msg == 'Insufficient wallet balance'){
                            
                            console.log("msg_________wallet : ", res.msg)
                            document.getElementById('wallet-error').textContent = "Insufficient wallet balance"
                        }
                        
                    } else {
                        console.log('ajax failed')
                        // Handle any errors from the server
                        if (res.msg) {
                            // Display error messages based on the response
                            console.log('111111111');
                            if (res.msg === "Please select any address") {
                                console.log('22222222222');
                                document.getElementById("#error-message-container").textContent = res.msg;
                            } else if (res.msg === "Please select any valid payment method") {
                                console.log('44444444');
                                document.getElementById("payment-error").textContent = res.message;
                            }
                        } else {
                            // Handle any other errors or show a generic error message
                            alert("An error occurred during checkout.");

                        }

                        alert(res.msg);
                        $('#error-message-container').text('An error occurred during checkout.');

                    }
                },
                error: function (error) {
                    console.log('ajax error')


                    console.error(error);

                }
            });


            function verifyPayment(payment,amount) {
                console.log("verify ____________________________________________________")
                console.log("verify poayment", payment)
                // console.log("verify poayment", orderId)
                $.ajax({

                    url: '/verifyPayment',
                    method: 'post',
                    data: {
                        payment,amount
                    },
                    success: (res) => {
                        console.log('addddddjnhgkgkkjhfdhfhkjbvbj',res)
                        if (res.success == true) {
                            // location.href = "/orderSuccess"
                            location.href = "/confirmation/" + res.orderId;
                        } else {
                            alert('payment failed')
                        }
                    }
                })
            }
        });
    });

</script>

<!-- ============================================================ -->

<!-- modal script -->
<script>
    $(document).ready(function () {
        $('.modalBTN').click(function () {
            //order cancel modal
            var orderId = $(this).data('id');
            var routeURL = '/cancelOrder/' + orderId;
            $(".modal-footer #orderCancel").attr('href', routeURL);

            //order return modal
            var orderId = $(this).data('id');
            var routeUrl = '/returnOrder/' + orderId;
            $('.modal-footer #returnOrder').attr('href', routeUrl)
        });
    });
</script>

</body>

</html>