<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Trenzy world</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet"> 

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/style.css" rel="stylesheet"> 

</head> 
<style>small{color: red; }</style>
<body>

<div class="container-fluid">
    <div class="row align-items-center py-3 px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            <a href="" class="text-decoration-none">
                <h2 class="m-0 display-5 font-weight-semi-bold"><span
                        class="text-primary font-weight-bold border px-3 mr-1">Trenzy</span>world</h2>
            </a>
        </div>
        <div class="col-lg-6 col-6 text-left">
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-4"> <!-- Reduced width to col-md-4 -->
            <div class="card p-4 mt-5" style="border: 1px solid black;border-radius: 5px;">
                <h2 class="text-center mb-4">Set New Password</h2>
                <form action="/createNewPass" method="post">
                    <div class="mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" id="password" name="password" class="form-control" style="margin-bottom: 1em; border: 1px solid black;"
                            placeholder="Enter password" required>
                        <span style=" margin-bottom: 2em; font-size: 12px;"  >*Must contain an uppercase letter, lowercase letter,
                            special character, and a number. Password should contain a minimum of 8 characters</span>
                        <small id="passwordError"></small>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Confirm Password:</label>
                        <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" style="margin-bottom: 2em;border: 1px solid black;"
                            placeholder="Enter password" required>
                        <small id="cPasswordError"></small>
                    </div>
                    <button onclick="return validateForm()" type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/js/validation/newPass.js"></script>
</body>
</html>

